*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: "dangdang";
    src: url("font/Cafe24Dangdanghae/Cafe24Dangdanghae.ttf");
}
@font-face {
    font-family: 'text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
}
a{
    color: black;
    text-decoration: none;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
}
input[type=radio]{
    display: none;
}
ul, li{
    list-style: none;
}

header{
    position: relative;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
    
}

.top_of_top{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    float: left;
    margin-left: -30px;
    padding: 0px 30px 0px 30px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.top_of_left{
    float: left;;
}
.top_of_right{
    display: inline-block;
    float: right;
    height: 30px;
    box-sizing: border-box;
    font-size: 0;
    vertical-align: top;

}
.top_of_right a{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 3px 10px 0 0;
    padding-right: 10px;
    color: #fff;
    font-family: 'text';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: top;
}
.top_of_right button{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 3px 10px 0 0;
    padding-right: 10px;
    color: #fff;
    font-family: 'text';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: top;
}
.btn_toplogin{
    overflow: hidden;
    height: 17px;
    box-sizing: border-box;
    line-height: 17px;
}
.btn_toplogin::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 10px;
    background: #fff;
    opacity: 0.4;
}
.SkinnyHome{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 3px 10px 0 0;
    padding-right: 10px;
    color: #fff;
    font-family: 'Roboto','Noto Sans KR',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    vertical-align: top;
}
.SkinnyHome::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 10px;
    background: #fff;
    opacity: 0.4;
}
.top_Language{
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.btn_topLanguage{
    margin-right: 0 !important;
    padding-right: 17px !important;
    background: url(/img/ico_arrB_white.png) no-repeat right center;
}
.listbox{
    display: none;
    position: absolute;
    left: 50%;
    top: -11px;
    overflow: hidden;
    width: 80px;
    margin-left: -40px;
    box-sizing: border-box;
    padding: 8px 15px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    z-index: 1101;
}
.listbox li{
    display: block;
    margin-bottom: 7px;
    padding-left: 1px;
    color: #555;
    line-height: 19px;
    text-align: left;
}
.listbox li>a.on{
     background: url(/img/ico_arrB_black.png) no-repeat right center;
}
.listbox li>a{
    margin-right: 0;
    padding-right: 17px;
    color: #555 !important;
    transition: 0.2s;
    font-size: 15px;
    font-weight: 400;
}
.logo{
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    padding-left: 30px;
    z-index: 2;
}
.logo a{
    display: block;
    overflow: hidden;
}
.logo a img{
    vertical-align: top;
}
.hide_logo{
    display: none;
}
header .logo a>span{
    display: none;
}
header nav{
    position: relative;
    width: 100%;
    height: 90px;
    top: 32px;
    box-sizing: border-box;
    padding: 0 120px 0 225px;
}
#gnb{
    width: 1140px;
    height: 24px;
    box-sizing: border-box;
    margin-left: 130px;
    padding: 30px 0 0 0;
    font-size: 0;
    text-align: center;
}
#gnb li{
    margin-left: 18px;
    margin-right: 12px;
    float: left;
}
#gnb li a{
    display: block;
    position: relative;
    height: 24px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    font-family: "text";
    z-index: 1002;
}
.main_right{
    position: absolute;
    right: 0;
    top: 70px;
    width: 220px;
    box-sizing: border-box;
    font-size: 0;
    margin-right: 30px;
    text-align: right;
    z-index: 1100;
}
.main_right button{
    display: inline-block;
    overflow: hidden;
    height: 30px;
    margin: 0 0 0 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: left;
    vertical-align: top;
    text-indent: -999px;
}
.search{
    width: 25px;
    background: url(/img/top_search_white.png) no-repeat right center;
}
.recGrp{
    width: 22px;
    background: url(/img/top_recGrp_white.png) no-repeat right center;
}
.lineMenu{
    width: 30px;
    background: url(/img/top_lineMenu_white.png) no-repeat right center; 
}

.main{
    display: block;
    width: 100%;
    height: 876px;
    background-color: black;
    margin-top: -130px;
}
.main_list{
    position: absolute;
    margin-top: 190px;
    width: 100%;
    height: 45px;
}
.main_list li{
    float: left;
    width: 83px;
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    color: #fff;
    transition: .3s all;
    font-size: 16px;
}
.main_list ul li::after{
    content: '';
    margin-left: -10px;
    top: 0;
    display: none;
    width: 10px;
    height: 100%;
    background: url(/img/mainTab_arrL_white.png) no-repeat left 0 top 0;
    transition: .5s all;
}
.main_list ul li.left_one::after{
    content: '';
    margin-left: -10px;
    top: 0;
    display: block;
    width: 10px;
    height: 100%;
    background: url(/img/mainTab_arrL_white.png) no-repeat left 0 top 0;
    filter: opacity(0.5);
    z-index: 2;
    transition: .5s all;
}
.main_list ul li::before{
    content: '';
    margin-left: 105px;
    top: 0;
    position: absolute;
    display: none;
    width: 10px;
    height: 100%;
    background: url(/img/mainTab_arrR_white.png) no-repeat left 0 top 0;
    transition: .5s all;
}
    
}
.main_list ul li label{
    float: left;
    position: absolute;
}

.footer{
    width: 100%;
    height: 150px;
}

